body{
    background-color: rgb(207, 205, 214);
}
.header {
    width: 100%;
}
.header img {
    cursor: pointer;
}
.head {
    width: 500px;
    height: 30px;
    margin-left: 30px;
    background-color: rgb(4, 4, 85);
    color: white;
    border: none;
    border-radius: 10px;
    font-family:Arial, sans-serif;
    font-weight: bold;
}
#offer-calculator{
    display: inline-flex;
    margin-left: 50px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(4, 4, 85);
}
#paired {
    margin-left: 30px;
    display: inline-flex;
}
.home-paired{
    margin-top: 150px;
    height: 50px;
    font-size: 25px;
}
.head:hover{
    background-color: white;
    color: rgb(4, 4, 85);
    transition: 0.2s;
    cursor: pointer;
}
#exw{
    width: 200px;
}
#ddp{
    width: 800px;
}
.c-price{
    margin-top: 20px;
}
.display{
    display: inline-flex;
}
.curr-p{
    margin-left: 30px;
    width: 300px;
}
.set{
    padding: 5px;
    height: 30px;
    color: rgb(4, 4, 85);
    background-color: rgb(207, 205, 214);
    border: 1px solid rgb(4, 4, 85);
    font-size: 16px;
    margin-top: -10px;
}
.text1{
    margin-left: 60px;
    color: rgb(4, 4, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.text2{
    margin-left: 30px;
}
#currency{
    margin-left: 60px;
}
.rate-equip{
    margin-top: 5px;
}
.equip-rate{
    margin-left: 30px;
    width: 300px;
}
.rate{
    margin-left: 60px;
}
.d-vat{
    margin-left: 60px;
    margin-top: 15px;
}
.vat-naira{
    margin-left: 30px;
    width: 300px;
}
#vat{
    margin-left: 60px;
}
.deliver-total{
    margin-left: 60px;
}
.delivery-total{
    width: 630px;
}
.local-total{
    color: rgb(4, 4, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.text-deliver{
    margin-left: 30px;
}
.markup{
    margin-left: 30px;
    width: 300px;
}
.mark{
    margin-left: 60px;
}

/* EXW */
#exw-exw{
    width: 800px;
}
#exw-ddp{
    width: 200px;
}
#dhl-ff{
    width: 300px;
    cursor: pointer;
}
.weight{
    margin-top: 15px;
}
.no-display{
    display: none;
}
.not-display{
    display: none;
}
.question{
    margin-left: 60px;
    margin-top: 10px;
}
.span{
    color: rgb(4, 4, 85);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12x;
}
.uff-q-button, .ude-q-button, .ddp-q-button{
    width: 40px;
    background-color: rgb(4, 4, 85);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    height: 21px;
}
.q-button:hover{
    color: rgb(4, 4, 85);
    background-color: white;
    transition: 0.2s;
}